<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
      </layout>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="example.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="2" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %thread %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="Pushed" type="log4net.TweetAppender.PushedAppender, log4net.TweetAppender">
      <appUrl value="https://api.pushed.co/1/push"/>
      <appKey value="fSlK9HYnHSNYUZ4J56uK"/>
      <appSecret value="BhEJjzOUe0nY0zNcMOqwkzgYwBsrtTlSX0s54xFE2TLrrl7Paa2PMuI4aaqblH2o"/>
      <targetType value="app"/>

      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="IMPORTANT:" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="Pushed" />
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>